html {
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    font-family: Verdana;
    color: #f6feff;
}

body {
    width: 99%;
    height: 100%;
}

/*---------V--Topnav--V---------*/

.topnav {
    overflow: hidden;
    background-color: #1f1f1f;
    padding: 0px 20px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    font-size: 23px;
}

.topnav p {
    color: #f6feff;
}

/*---------V--Sidenav--V---------*/

.navdiv,
nav {
    height: 100%;
    background-color: #242424;
    width: 250px;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    float: left;
    left: 0;
    top: 74px;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.nav-li a {
    display: block;
    color: #f6feff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav-lis a {
    display: block;
    color: #f6feff;
    padding: 12px 35px;
    text-decoration: none;
    font-size: 17px;
}

.nav-li a.active {
    background-color: #72194d;
    color: #f6feff;
}

.nav-lis a.active {
    background-color: #72194d;
    color: #f6feff;
}

.nav-li a:hover:not(.active) {
    background-color: #4d0a2f;
    color: #f6feff;
}

.nav-lis a:hover:not(.active) {
    background-color: #4d0a2f;
    color: #f6feff;
}

/*---------V--Structure--V---------*/

.flex-container {
    display: flex;
}

hr.solid {
    border: 1px solid #bdbdbd;
}

.content,
main {
    margin-top: 80px;
    margin-left: 250px;
    padding: 20px;
    width: auto;
}

/*---------V--Home--V---------*/

.bewijzen {
    margin: 50px 0px;
}

.bewijzen img {
    float: left;
    width: 500px;
    height: 100%;
    padding: 5px;
}

.content span {
    display: block;
}

/*---------V--Dashboard--V---------*/

.dashboard-items {
    max-width: 100%;
    flex-wrap: wrap;
}

.dashboard-item {
    background-color: #242424;
    height: 400px;
    width: 620px;
    border-radius: 40px;
    margin: 20px;
    padding: 30px;
}

.dashboard-item h2 {
    height: 15%;
    overflow: hidden;
}

.dashboard-item h3 {
    height: 5%;
    overflow: hidden;
}

.dashboard-item ul {
    height: 50%;
    padding-right: 10px;
    overflow-y: auto;
}

.dashboard-item ul li::marker {
    font-size: 30px;
}

.dashboard-item ul li.done::marker {
    color: green;
}

.dashboard-item ul li.pending::marker {
    color: yellow;
}

.dashboard-item ul li.failed::marker {
    color: red;
}

.dashboard-item button {
    background-color: #72194d;
    max-width: 100%;
    overflow: hidden;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.dashboard-item button:hover {
    background-color: #4d0a2f;
}