html {
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    font-family: Verdana;
    color: #f6feff;
}

body {
    width: 99%;
    height: 100%;
}

/*---------V--Topnav--V---------*/

header {
    overflow: hidden;
    background-color: #1f1f1f;
    padding: 0px 20px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    font-size: 23px;
}

header p {
    float: left;
    color: #f6feff;
}

header img {
    float: left;
    max-height: 45px;
    padding: 10px;
    margin-right: 50px;
}

.top-nav {
    display: inline-block;
    vertical-align: ;
    margin-right: 50px;
}

.top-nav-li {
    display: inline-block;
}

.top-nav-li a {
    color: #f6feff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
}

/*---------V--Sidenav--V---------*/

.navdiv {
    height: 100%;
    background-color: #242424;
    width: 250px;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    float: left;
    left: 0;
    top: 74px;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.nav-li a {
    display: block;
    color: #f6feff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav-li a.active {
    background-color: #72194d;
    color: #f6feff;
}

.nav-li a:hover:not(.active) {
    background-color: #4d0a2f;
    color: #f6feff;
}

/*---------V--Structure--V---------*/

.flex-container {
    display: flex;
}

hr.solid {
    border: 1px solid #bdbdbd;
}

.content,
main {
    margin-top: 80px;
    margin-left: 250px;
    padding: 20px;
    width: auto;
}

th {
    text-align: start;
    padding: 5px 30px;
}

td {
    padding: 5px 30px;
}

table {
    border-collapse: collapse;
}

tr:not(:first-child) {
    border-top: 1pt solid rgb(71, 77, 79);
}

/*---------V--Misc-styling--V---------*/

.button1 {
    background-color: #72194d;
    max-width: 100%;
    overflow: hidden;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1:hover {
    background-color: #4d0a2f;
}

/*---------V--Home--V---------*/

.bewijzen {
    margin: 50px 0px;
}

.bewijzen img {
    float: left;
    width: 500px;
    height: 100%;
    padding: 5px;
}

.content span {
    display: block;
}

/*---------V--Dashboard--V---------*/

.dashboard-items {
    max-width: 100%;
    flex-wrap: wrap;
}

.dashboard-item {
    background-color: #242424;
    height: 400px;
    width: 620px;
    border-radius: 40px;
    margin: 20px;
    padding: 30px;
}

.dashboard-item h2 {
    height: 15%;
    overflow: hidden;
}

.dashboard-item h3 {
    height: 5%;
    overflow: hidden;
}

.dashboard-item ul {
    height: 50%;
    padding-right: 10px;
    overflow-y: auto;
}

.dashboard-item ul li::marker {
    font-size: 30px;
}

.dashboard-item ul li.done::marker {
    color: green;
}

.dashboard-item ul li.pending::marker {
    color: yellow;
}

.dashboard-item ul li.failed::marker {
    color: red;
}

progress {
    width: 90%;
    height: 50px;
}

/*---------V--Blog--V---------*/

.blogpost {
    background-color: #242424;
    max-width: 100%;
    min-height: 200px;
    max-height: 500px;
    overflow: hidden;
    border-radius: 40px;
    margin: 20px;
    padding: 30px;
}

.blogpost p {
    min-height: 100px;
}

.blogpost-full {
    max-height: 90%;
}

/*---------V--FAQ--V---------*/

.faq {
    max-width: 1000px;
}